.search1 {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
body{
    background-color: burlywood;
    /* display: flex; */
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    padding: 20px;
    margin: 20px;
    width: 250px; 
    background-color: aliceblue;
    text-align: center;
    display: inline-block; 
}


.product-img {
    max-width: 150px; 
    border-radius: 10px;
    margin-bottom: 10px;
}


.product-card-h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}


.product-card-p {
    font-size: 1rem;
    color: grey;
    margin-bottom: 15px;
}


